@import url("cabecalho.css");
@import url("corpo.css");
@import url("menulateral.css");
@import url("cartao.css");
@import url("rodape.css");
@import url("reponsividade.css");

*{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0rem;
    padding: 0rem;
}


body{
    /* border: .2rem solid rgb(102, 255, 0); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}